<head>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<header class="header-banner">
  <div class="container-width">
    <nav class="navbar">
    </nav>
    <div class="logo-container">
    </div>
    <div class="clearfix">
    </div>
    <div class="logo">Easy Manager
    </div>
  </div>
  <div class="row">
    <div class="cell cell30">
      <div class="lead-btn">Users
      </div>
    </div>
    <div class="cell cell70">
      <input class="lead-btn" type="submit" name="submit" value="Do Something">
      <input class="lead-btn" type="submit" name="submit" value="Do Something Else">
    </div>
  </div>
  <div class="logo-container">
  </div>
</header>