<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ username }} </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<header class="header-banner">
  <div class="container-width">
    <div class="logo-container">
    </div>
    <div class="clearfix">
    </div>
    <div class="logo">Easy Manager {{ username }}
    </div>
  </div>
  <div class="row">
    <div class="cell cell30">
      <p><a class="lead-btn" href="/test" role="button">Users</a>
      </p>
    </div>
    <div class="cell cell70">
        <p> Please enter your name</p>
        <form class="cell cell30" method="POST" action="/">
            Name:
            <input type="text" name="username">
            <button type="submit" class="lead-btn" value="submit"> Submit </button>
        </form>
    </div>
  </div>
</header>
</html>