*{
  box-sizing: border-box;
}
html, body{
  margin:0;
  padding:1% 1% 1% 1%;
  background-color:#babaca;
  height:100%;
}
.header-banner{
  padding-top:35px;
  padding-bottom:100px;
  color:rgb(255, 255, 255);
  font-family:Helvetica, serif;
  font-weight:100;
  background-position-x:left, center;
  background-position-y:top, center;
  background-repeat-x:no-repeat, no-repeat;
  background-repeat-y:repeat, no-repeat;
  width:100%;
  background-color:#babaca;
  padding:1px 2% 4% 2%;
  text-align:center;
  opacity:1;
  height:100%;
}
.container-logo{
  width:100%;
  max-width:100%;
  padding:1% 0px 0% 0%;
  opacity:1;
  border:mediumpx solid #212122;
  transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  height:10%;
  min-height:7%;
  flex-direction:row;
  background-color:none;
  float:none;
  right:1%;
  top:0px;
  position:relative;
}
.logo{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  width:33%;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  min-height:30px;
  text-align:center;
  line-height:30px;
  font-size:23px;
  opacity:1;
  display:block;
  position:relative;
  left:33%;
  border:2px solid #2e2e8d;
  right:0px;
  color:rgb(46, 46, 141);
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  background-color:rgb(255, 255, 255);
  padding:4px 10px 10px 10px;
  height:40px;
  float:none;
}
.lead-btn{
  width:15%;
  height:30px;
  min-height:20px;
  font-size:16px;
  text-align:center;
  letter-spacing:2px;
  line-height:15px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  transition-duration:0.5s;
  transition-timing-function:ease;
  transition-delay:initial;
  transition-property:all;
  cursor:pointer;
  margin:0px 0px 0px 0px;
  color:rgb(46, 46, 141);
  font-weight:600;
  float:none;
  position:relative;
  display:block;

  max-width:15%;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  border:2px solid #2e2e8d;
  background-color:#ffffff;
  box-shadow:3px 1px 12px 1px #2e2e8d inset;
}
.lead-btn:hover{
  color:#2e2e8d;
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  letter-spacing:2px;
  line-height:15px;
  box-shadow:3px 1px 9px 5px #2e2e8d inset;
  background-color:#ffffff;
}
.lead-btn:active{
  background-color:#2e2e8d;
  color:rgb(255, 255, 255);
  box-shadow:0px 0px 2px 5px #ffffff inset;
  text-shadow:0px 0px 0px black;
}
.form{
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  padding-top:10px;
  padding-right:15px;
  padding-bottom:10px;
  padding-left:15px;
  background-color:none;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  border-radius:0px 0px 0px 0px;
  height:85%;
  width:100%;
  text-align:left;
  max-width:100%;
  min-height:25%;
  left:0%;
  right:0%;
  position:relative;
  color:#2e2e8d;
}
.main{
  height:100%;
  min-height:25%;
  width:100%;
  background-color:#ffffff;
  border:3px solid #2e2e8d;
  position:relative;
}
