<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/browser.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <title> {% block title %} {% endblock %} </title>
    </head>
    <body>
        <div class="main-header text-center">
            <h2><a href="/">Easy Management</a></h2>
        </div>
        <div class="panel-base">
            <div class="col-lg-2 pane-tree">
                <h4> Browser<button class="btn btn-link btn-sm" id="tree-toggler">(+)</button></h4>
                <ul class="nav nav-list">
                    <li><label class="tree-toggler">+ Users</label>
                        <ul class="nav nav-list tree">
                            <li><a href="/users">See All</a></li>
                            <li><label class="tree-toggler nav-header">+ Report </label><span class="label label-warning">37</span>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ daemon</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='daemon') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ uucp</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='uucp') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ lp</label>
                                        <span class="label label-warning">2</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='lp') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- pgrp</li>
                                                        <li>- groups</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ invscout</label>
                                        <span class="label label-warning">3</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='invscout') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                                        <li>- pgrp</li>
                                                        <li>- groups</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ snapp</label>
                                        <span class="label label-warning">2</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='snapp') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                                        <li>- shell</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ ipsec</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='ipsec') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ srvproxy</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='srvproxy') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ sshd</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='sshd') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ nagios</label>
                                        <span class="label label-warning">3</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='nagios') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                                        <li>- groups</li>
                                                        <li>- gecos</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ critter</label>
                                        <span class="label label-warning">3</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='critter') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                                        <li>- groups</li>
                                                        <li>- home</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ ujanssen</label>
                                        <span class="label label-warning">2</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='ujanssen') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                                        <li>- home</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ nketelse</label>
                                        <span class="label label-warning">2</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='nketelse') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                                        <li>- home</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ ohannula</label>
                                        <span class="label label-warning">2</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='ohannula') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                                        <li>- home</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ rwolter</label>
                                        <span class="label label-warning">3</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='rwolter') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                                        <li>- home</li>
                                                        <li>- gecos</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ kharrak</label>
                                        <span class="label label-warning">2</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='kharrak') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                                        <li>- home</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ hholst</label>
                                        <span class="label label-warning">3</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='hholst') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                                        <li>- groups</li>
                                                        <li>- home</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ edi</label>
                                        <span class="label label-warning">2</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='edi') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                                        <li>- shell</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ ansiblec</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='ansiblec') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- gecos</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ hkentgen</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='hkentgen') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- id</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-list tree">
                                    <li><label class="tree-toggler nav-header small">+ emrichp</label>
                                        <span class="label label-warning">1</span>
                                        <ul class="nav nav-list tree">
                                            <li><a href="{{ url_for('page.users', user='emrichp') }}" class="small">Potential conflict(s) in:
                                                    <ul class="nav nav-list">
                                                        <li>- groups</li>
                                            </ul></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div class="col-lg-9 content-main">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
    <footer class="main-footer">
        <ul class="list-inline text-center">
            <li class="text-muted">Easy Management &copy; 2018</li>
            <li><a href="">FAQ</a></li>
        </ul>
    </footer>
</html>
